In [1]:
import openai
import sqlite3 as sq
openai.api_key = 'Open ai key'

In [2]:
def gen_query(input):
    prompt = "Return the Sqlite query which can be copied directly for the following required information from table 'football' having columns player_id int, name char(20) DEFAULT NULL, nationality, matches, goals, assists, minutes_played, shots, shots_on_target, fouls_committed, yellow_cards, red_cards :f{input}"
    try:
        response = openai.Completion.create(
            model="gpt-3.5-turbo-instruct",
            prompt=prompt,
            max_tokens=100,
            temperature=0.7
        )
        return response.choices[0].text.strip()
    except Exception as e:
        print(f"An error occurred: {e}")
        return None

In [5]:
def execute_query(sql_query, db):
    try:
        database = sq.connect(db)
        cur = database.cursor()
        cur.execute(sql_query)
        rows = cur.fetchall()
        database.commit()
    except sq.Error as e:
        print(f"An error occurred: {e}")
        rows = []
    finally:
        if database:
            database.close()
    if rows:
        
            print("here:{row}")
    else:
        print("no rows")
    return rows

In [6]:
input = "select table"
sql_query = gen_query(input)
sql_query

'SELECT player_id, name, nationality, matches, goals, assists, minutes_played, shots, shots_on_target, fouls_committed, yellow_cards, red_cards FROM football'

In [7]:
execute_query(sql_query, 'football.db')

here:{row}

[(1, 'ronaldo', 'portugal', 10, 5, 2, 900, 15, 10, 3, 1, 0),
 (2, 'Lionel Messi', 'Argentina', 9, 6, 4, 810, 18, 10, 3, 2, 0),
 (3, 'Neymar Jr', 'Brazil', 11, 7, 5, 990, 22, 15, 7, 2, 0),
 (4, 'Kylian Mbappe', 'France', 12, 9, 2, 1080, 25, 18, 4, 1, 0),
 (5, 'Mohamed Salah', 'Egypt', 8, 5, 3, 720, 15, 10, 6, 0, 0),
 (6, 'Robert Lewandowski', 'Poland', 11, 10, 1, 990, 23, 16, 3, 0, 0),
 (7, 'Harry Kane', 'England', 10, 7, 3, 900, 19, 12, 4, 1, 0),
 (8, 'Kevin De Bruyne', 'Belgium', 9, 3, 8, 810, 12, 6, 9, 1, 0),
 (9, 'Sergio Ramos', 'Spain', 10, 2, 1, 900, 5, 3, 15, 3, 1),
 (10, 'Luis Suarez', 'Uruguay', 7, 4, 3, 630, 10, 6, 5, 1, 0)]

In [11]:
dbb = sq.connect('football.db')
cur = dbb.cursor()
s="SELECT player_id, name, nationality, matches, goals, assists, minutes_played, shots, shots_on_target, fouls_committed, yellow_cards, red_cards \nFROM football \nWHERE goals > 4;"
cur.execute(s)
rows = cur.fetchall()
if rows:
        for row in rows:
            print("here:{row}")
else:
        print("no rows")

here:{row}